html {
	width: 1280px;
	margin: 0 auto;
	padding: 0 auto;
}
body {
	font-family: Georgia;
	font-size: 16px;
	background-color: #ffffff;
	color: #333333;
	margin: 0;
	padding: 0;
}
div {
	box-sizing: border-box;
}
header {
	background: #445162 center top;
}
.clearfix:after {			/* Вписываем эти знаечения когда лого и меню в разных сторонах */
	content: '';			/*Что бы между ними не становились другие div*/
	display: table;
	width: 100%;
	clear: both;
}	
.container {
	margin: 0;
	padding: 0;
}
.name {
	width: 640px;
}
.name h1 {
	font-size: 60px;
	color: #ffffff;
	margin-left: 50px;
	margin-bottom: 25px;
	float: left;
}
.name ul {
	font-family: Georgia;
	font-size: 20px;
	line-height: 36px;
	color: #ffffff;
	list-style-image: url(../img/i.png);
	float: left;
	margin-left:85px;
	margin-top: 0;
	margin-bottom: 0;
	padding: 0;
}
.foto {
	margin-left: 700px;
	padding-top: 53px;
	padding-bottom: 50px;
}
.about {
	width: 660px;
	margin-left: 50px;
	float: left;
	margin-top: 50px;
	margin-bottom: 50px;
}
.about h2 {
	font-size: 32px;
	color: #445161;
	margin-bottom: 30px;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	padding: 0;
}
.about p {
	line-height: 24px;
	margin-bottom: 20px;
	margin-top: 0px;
}
.vid {
	width: 570px;
	margin-top: 50px;
	margin-bottom: 50px;
	float: left;
}
.img1 {
	margin-left: 140px;
}
.dignity {
	background: #f5f5f5 center top;
}
.dig h1 {
	text-align: center;
	color: #445161;
	font-size: 30px;
	padding-top: 50px;
	margin-bottom: 35px;
}
.ops1 {
	margin-left: 38px;
	width: 590px;
	float: left;
	margin-bottom: 40px;
}
.ops1 li {
	font-size: 16px;
	margin-top: 20px;
	margin-bottom: 0px;
}
.ops1 ul {
	list-style-image: url(../img/2.png);
}
.ops2 {
	width: 590px;
	float: left;
	margin-left: 10px;
	margin-bottom: 40px;
}
.ops2 li {
	list-style-image: url(../img/2.png);
	font-size: 16px;
	margin-top: 20px;
}
.scr h1 {
	text-align: center;
	font-size: 30px;
	color: #445161;
	padding-top: 50px;
}
.sta1 {
	width: 605px;
	margin-left: 35px;
	float: left;
	margin-bottom: 40px;
}
.sta1 h3 {
	font-size: 24px;
	color: #445161;
}
.sta1 p {
	color: #333333;
	padding: 0;
}
.sta2 {
	width: 605px;
	float: right;
	margin-bottom: 40px;
}
.sta2 h3 {
	font-size: 24px;
	color: #445161;
}
.sta2 p {
	color: #333333;
	padding: 0;
}
.st1 {
	width: 605px;
	margin-left: 35px;
	float: left;
	margin-bottom: 50px;
}
.st2 {
	width: 605px;
	float: right;
	margin-bottom: 50px;
}
.st {
	width: 300px;
	height: 310px;
	text-align: center;
	background: #445162;
	float: left;
	margin-left: 150px;
	margin-top: 228px;
	border-radius: 10px;
	margin-bottom: 50px;
}
.pr {
	float: left;
	background: #445162;
	text-align: center;
	margin-left: 47px;
	margin-top: 129px;
	width: 300px;
	height: 409px;
	border-radius: 10px;
	margin-bottom: 50px;
}

.lx {
	float: left;
	background: #445162;
	margin-left: 47px;
	text-align: center;
	margin-top: 30px;
	width: 300px;
	height: 508px;
	border-radius: 10px;
	margin-bottom: 50px;
}
.sthlux {
	font-size: 40px;
	line-height: 30px;
	background: #ffffff;
	width: 295px;
	margin-left: 3px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 15px;
	padding-bottom: 15px;
	border-radius: 4px;
}
.olli  {
	text-align: left;
	color: #ffffff;
	font-size: 15px;
	line-height: 25px;
	font-family: Arial;
}
.sth2 {
	font-size: 24px;
	line-height: 15px;
	color: #ffffff;
}
.sth1 {
	font-size: 40px;
	line-height: 30px;
	background: #ffffff;
	width: 295px;
	margin-left: 2px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 15px;
	padding-bottom: 15px;
	border-radius: 4px;
}
.but {
	background:#ffffff; 
	font-size: 18px;
	font-weight: bold;
	color: #445161;
	width: 260px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	display: block;
	margin-left: 20px;
	margin-top: 10px;
	padding: 15px 0;
	border-radius: 10px;
}
.contakt {
	background: #445162;
}
.contakt h1{
	font-size: 30px;
	color: #ffffff;
	text-align: center;
	padding-top: 50px;
}
.forma {
	float: left;
	width: 500px;
	margin-left: 250px;
}
#i1 {
	width: 500px;
	height: 40px;
	padding-left: 5px;
	font-size: 16px;
	font-weight: bold;
	color: #445162;
	margin-bottom: 25px;
	border-radius: 10px;
}
#i2 {
	width: 500px;
	height: 40px;
	padding-left: 5px;
	font-size: 16px;
	font-weight: bold;
	color: #445162;
	margin-bottom: 25px;
	border-radius: 10px;
}
#i3 {
	width: 498px;
	padding-bottom: 170px;
	padding-top: 10px;
	padding-left: 5px;
	font-size: 16px;
	font-weight: bold;
	color: #445162;
	border-radius: 10px;
	text-align:
}
.bsen {
	background: #ffffff; 
	font-size: 18px;
	font-weight: bold;
	color: #445161;
	width: 140px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	display: block;
	margin-left: 180px;
	margin-bottom: 50px;
	margin-top: 25px;
	padding: 15px 0;
	border-radius: 10px;
}
.kontakti {
	float: left;
	margin-left: 45px;
	color: #ffffff;
}
#list1 {
	list-style-image: url(../img/sk.png);
	padding-top: 0;
	margin-top: 0;

}
#list2 {
	list-style-image: url(../img/icq.png);
	margin-bottom: 25px
}
#list3 {
	list-style-image: url(../img/em.png);
	margin-bottom: 25px
}
#list4 {
	list-style-image: url(../img/ph.png);
	margin-bottom: 25px
}
.kontakti img {
	margin-left: 8px;
	margin-top: 20px;
}
footer {
	height: 25px;
	background: #f5f5f5;
	margin: 0;
	padding: 0;
}
#cop {
	text-align: center;
	font-size: 16px;
	color: #445162;
	margin: 0;
	padding: 2px;
}