body {
	margin:0 auto;
	font-family: Montserrat, sans-serif;
}

.mainhead {
background: url(../img/header.jpg) top no-repeat;/*---------- Фоновое изображение для класса  ---------- */
}
.logo img {				/*---------- парметры для img  ---------- */
display: inline-block;
height: auto;
max-width: 100%;
}

.menu {					/*---------- Меню адаптивное ---------- */
    text-align: right;
    margin-top: 15px;
}

.menu__icon {			/*---------- парметры значка адаптивного меню ---------- */
   display: none;
   width: 35px;
   height: 25px;
   position: relative;
   cursor: pointer;
}

.menu__icon span {
  display: block;
  position: absolute;
  height: 7px;
  width: 100%;
  background: #fa5c65;
  border-radius: 10px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

.menu__icon span:nth-child(1) {
  top: 0px;
}

.menu__icon span:nth-child(2), .menu__icon span:nth-child(3) {
  top: 10px;
}

.menu__icon span:nth-child(4) {
  top: 20px;
 }
.menu__links a {
	font-family: Montserrat;
	color: #375569;
	text-decoration: none;
	text-transform: uppercase;
	padding: 0% 2%;
	font-weight: bold;
	transition-duration: 0.2s;
}
.menu__links a:hover {
	text-decoration: none;
	color: #fa5c65;
	border-bottom: 1.5px #fa5c65 solid;
}
.menu__links-item:hover {
    text-decoration: underline;
}
.menu.menu_state_open .menu__icon span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.menu.menu_state_open .menu__icon span:nth-child(2) {
  transform: rotate(45deg);
}

.menu.menu_state_open  .menu__icon span:nth-child(3) {
  transform: rotate(-45deg);
}

.menu.menu_state_open  .menu__icon span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.menu.menu_state_open .menu__links {
  display: block;  
}



.main-content {
	margin-top: 310px;
}

.main-h1 h1 {
	font-size: 48px;
	color: #314a5b;
	max-width: 100%;
	text-transform: uppercase;
	margin: 0px 0px 20px 0px;
}
.main-h1 h3 {
	font-size: 18px;
	color: #314a5b;
	margin: 0;
}

.button {
	margin-top: 70px;
	margin-bottom: 280px;
}
.button a {
	text-decoration: none;
	font-size: 15px;
	color: #ffffff;
	text-transform: uppercase;
	background: #fa5c65;
	padding: 15px 35px;
	border-radius: 10px;
}
.button a:hover {
	background:#ea4e57;
}
.section1 {
	margin: 70px 0px;
}
.cont-main h1 {
	font-size: 26px;
	color: #465065;
	font-weight: bold;
	text-transform: uppercase;
}
.cont-main p {
	font-size: 15px;
	color: #9aa0ab;
}
.more {
	text-decoration: none;
	text-transform: uppercase;
	color: #f0454c;
	font-size: 14px;
	font-weight: bold;
}
.more:hover {
	border-bottom: 1.5px solid red;
	transition-duration: 0.2s;
}
.imgmac img{
	display: inline-block;
	height: auto;
	max-width: 100%;
}
.opismac h1 {
	font-size: 40px;
	color: #465065;
	margin: 15px 0px 0px 0px;
}
.opismac h5 {
	font-size: 16px;
	color: #465065;
	margin-top: 10px;
}
.opismac p {
	font-size: 15px;
	color: #9aa0ab;
	margin-bottom: 35px;
}
.section3 {
	margin: 105px 0px 130px 0px;
}
.teamh h1 {
		font-size: 32px;
		font-weight: bold;
		color: #314a5b;
		text-transform: uppercase;
		margin-bottom: 20px;
	}
.teamh p {
	font-size: 16px;
	color: #9aa0ab;
	margin-bottom: 40px;
}	
.team img {
	float: left;
	padding-right: 10px;
}	
.team h1 {
	font-size: 22px;
	text-transform: uppercase;
	color: #314a5b;
	font-weight: bold;
	margin: 10px 0px;
}
.team h6 {
	font-size: 14px;
	color: #f0454c;
	font-weight: bold;
	margin: 10px 0px 20px 0px;
}
.team p {
	color: #9aa0ab;
	font-size: 14px;
}
.team a {
	display: inline-block;
	margin-left: 260px;
}
.team a img {
	float: none;
	padding: 0;
}

.footer4 {
	border-top: 1px #e6eaed solid;
	padding:  20px 0px;
}
.iconsoc {
	margin-left: 480px;
}
.iconsoc img {
	padding-right: 20px;
}

@media screen and (max-width: 767px) { /*---------- Медиа-запрос, парметры отображение елементов в определленом разрешении ---------- */
  .menu {
  	margin-top: 15px;
  	text-align: center;
  }
  .menu__icon{
    display: inline-block;
  }
  
  .menu__links {
    position: fixed;
    display: none;
    top: 0;
    right: 0;
    left: 0;
    margin-top: 52px;
    background-color: rgba(72, 99, 117, 0.75);
    z-index: 1000;
    overflow: auto;
  }
  
  .menu__links a {
    display: block;
    padding: 10px 0;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
  }
  .splink a {
  	display: inline-block;
  	width: 100%
  	padding-left: 20px;
  }
  .splink a:nth-child(1) {
  	padding-left: 10px;
  	padding-right: 10px;
  }
   .splink a:nth-child(2) {
  	padding-right: 10px;
  	padding-left: 10px;
  }
}
@media screen and (max-width: 767px) {
  .main-h1 h1 {
	font-size: 32px;
	color: #314a5b;
	max-width: 100%;
	text-transform: uppercase;
	margin: 0px 0px 20px 0px;
	} 
  .main-h1 h3 {
	font-size: 14px;
	color: #314a5b;
	margin: 0;
	}
	.button a {
	text-decoration: none;
	font-size: 10px;
	color: #ffffff;
	text-transform: uppercase;
	background: #fa5c65;
	padding: 12px 25px;
	border-radius: 10px;}
	.section1 {
	margin: 5px 0px;
	}
	.cont-main h1 {
	font-size: 16px;
	}
	.cont-main p {
	font-size: 10px;
	}
	.more {
	font-size: 10px;
	}
	.section2 {
	margin-top: 10px;
	}
	.imgmac img {
	width: 185px;
	height: auto;
	}
	.opismac h1 {
	font-size: 10px;
	margin: 0px;
	}
	.opismac h5 {
	font-size: 9px;
	margin: 0px 0px 5px 0px;
	}
	.opismac p {
	font-size: 7px;
	margin: 0px 0px 5px 0px;
	}
	.teamh h1 {
		font-size: 12px;
		font-weight: bold;
		color: #314a5b;
		text-transform: uppercase;
	}
	.section3 {
		margin: 5px 0px 10px 0px;
	}
	.iconsoc {
		margin-left: 100px;
	}
}
